.container {
  max-width: 100%;
  margin: 5%;
  padding: 4%;
  display: flex;
  justify-content: space-around;
  max-height: 40%;
  padding-top:10%;
}
.text{
    display: block;
    max-width: 50%;
    margin: auto;
    font-size: auto;

}
.my-text{
  display: block;
  max-width: 50%;
  margin: auto;
  font-size: auto;
}
.title{
  display: block;
  position: absolute;
  margin: auto;   
  margin-left: 15%;
  
}
.title-project{
  text-align: center;
}
.body{
  margin: 100px;
  background-color: black ;
}
.home_proj_img {
  width: 25%;
  height:auto;
  border-radius: 5%;
  
}
.my_img{
  width: 25%;
  height:auto;
  border-radius: 50%;
  margin: auto;
  margin-left: 15%;
}
.menu{
    position:fixed;
    display:flex;
    justify-content: space-between;
    top: 0px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    max-height:10%
    
}

.screen {
  width: 100%;
  height: auto;
  background-color: white;
  display: block;
  margin: 0px;
  
}
.menuOptions {
    font-size: 120%;
    text-decoration: none;
    max-height: 38%;
    color: black;
    max-width: aut0;
    text-align: center;
    margin: 8%;
    padding: 3%;
    border: 0px outset black;
    background-color: transparent;   
    cursor: pointer;
    position: relative;
    width: auto;
}

.menu :hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black;
    transition: ease-in-out;
}
.footer-bottom{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0%;
    font-size: 100%;
    font-style: italic;
}

.footer-social {
  margin: auto;
  margin-bottom: .5%;
  font-size: 34px;
  text-align: center;
}

.fa {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  width: 50px;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
}
#facebook:hover {
  background: #3b5998;
  margin-top: .5px;
  transition: ease-out .5s;
}

#instagram:hover {
  background: linear-gradient(to top right, orange, red, purple);
  margin-top: .5px;
  transition: ease-in-out .5s;
}

#twitter:hover {
  background: #4c82f5;
  margin-top: .5px;
  transition: ease-in-out .5s;
}
#linkedin:hover {
  background: #0077b5;
  margin-top: .5px;
  transition: ease-in-out .5s;
}
#whatsapp:hover {
  background: #1ce45f;
  margin-top: .5px;
  transition: ease-in-out .5s;
}
.myproject{
  display: block;
  padding: 15%;
}
.project-link{
  text-decoration: none;
  color: blue;
}
.app{
  width: auto;
  height: auto;
  border-style: 0px;
}